.header_project {
  min-height: 368px;
  height: 60vh;
  justify-content: center;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
